@font-face {
	font-family: 'greerco-font';
	src:url('fonts/greerco-font.eot?-yc7rkh');
	src:url('fonts/greerco-font.eot?#iefix-yc7rkh') format('embedded-opentype'),
		url('fonts/greerco-font.ttf?-yc7rkh') format('truetype'),
		url('fonts/greerco-font.woff?-yc7rkh') format('woff'),
		url('fonts/greerco-font.svg?-yc7rkh#greerco-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

.gi {
	font-family: 'greerco-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gi-arrow_back:before {
	content: "\e200";
}
.gi-menu:before {
	content: "\e20e";
}
