@font-face {
	font-family: 'greerco-font';
	src:url('fonts/greerco-font.eot?-y3cs0i');
	src:url('fonts/greerco-font.eot?#iefix-y3cs0i') format('embedded-opentype'),
		url('fonts/greerco-font.ttf?-y3cs0i') format('truetype'),
		url('fonts/greerco-font.woff?-y3cs0i') format('woff'),
		url('fonts/greerco-font.svg?-y3cs0i#greerco-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

.gi {
	font-family: 'greerco-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gi-keyboard_arrow_left:before {
	content: "\e110";
}
.gi-keyboard_arrow_right:before {
	content: "\e111";
}
.gi-arrow_back:before {
	content: "\e200";
}
.gi-menu:before {
	content: "\e20e";
}
