.about-page {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: url("../../img/properties-fade/IMG_2654.jpg") center no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: .5;
  }
}


.about-container {
  position: absolute;
  z-index: 10;
  color: #fff;
  width: 280px;
  height: 290px;
  top: 50%;
  left: 50%;
  margin: -145px 0 0 -140px;

  .about-logo {
    display: none;
  }

  .about-content {
    text-align: center;

    .about-title {
      font-weight: 700;
      font-size: 18px;
    }
    .about-description {
      font-size: 16px;
    }
  }

  @include breakpoint(tablet) {
    width: 600px;
    height: 220px;
    margin: -110px 0 0 -300px;

    .about-logo {
      display: block;
      float: left;
      width: 200px;

      img {
        margin-top: 54px;
      }
    }

    .about-content {
      text-align: left;
      margin-left: 240px;

      .about-title {
        font-size: 20px;
      }
    }
  }
}