.contact-page {
  background-size: cover;
  background-color: $color-primary-400;

  .card-wrapper {

    .card-left {
      display: none;
      height: 280px;
      width: auto;
      overflow: hidden;
    }

    .card-right {
      padding: 40px;

      h3 {
        color: #fff;
        font-size: 24px;
        text-align: center;
        font-weight: 400;
      }
    }
  }

  @include breakpoint(tablet) {
    background: url("/img/contact.jpg") center no-repeat;

    .card-wrapper {

      .card-left {
        display: block;
        background: #fff;
        padding: 10px;
        border-radius: 4px;
        width: 300px;
        height: 300px;
        position: fixed;
        top: 50%;
        right: 50%;
        margin: -200px 20px 0 0;
      }

      .card-right {
        padding: 20px;
        border-radius: 4px;
        position: fixed;
        width: 300px;
        height: 280px;
        left: 50%;
        top: 50%;
        margin: -200px 0 0 20px;

        h3 {
          margin-top: 20px;
          text-align: left;
          text-shadow: 0 1px 3px #000;
        }
      }
    }
  }

  @include breakpoint(computer) {
    .card-wrapper {

      .card-left {
        width: 400px;
        height: 400px;
        margin: -250px 20px 0 0;
      }

      .card-right {
        width: 400px;
        height: 380px;
        margin: -250px 0 0 20px;

        h3 {
          margin: 40px 0 30px 0;
        }
      }
    }
  }
}

.paragraph {
  color :#fff;
  text-align: center;

  @include breakpoint(tablet) {
    color: #404040;
  }
}