.home-page {
  background-image: url("/img/home-bkg.jpg");
  background-position: center;
  background-size: cover;
}

.home-page-content {
  height: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -105px 0 0 -124px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(black, .8);
}

.home-page-logo {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.home-page-title {
  font-weight: 700;
  font-family: $font-secondary-font;
  font-size: 22px;
  margin: 20px 0 4px 0;
}

.home-page-slogan {
  font-size: 14px;
}