.home-page {


  .home-page-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-position: center;
    background-size: cover;
  }

  .home-page-image-overlay {
    @extend .home-page-image;
    opacity: 0;
  }

  .home-page-content {
    height: 170px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -85px 0 0 -125px;
    color: #fff;
    text-align: center;
    z-index: $z-index-1;
  }

  .home-page-logo {
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  .home-page-title {
    font-weight: 400;
    font-family: $font-secondary-font;
    font-size: 25px;
    margin: 20px 0 4px 0;
  }

  .home-page-slogan {
    font-size: 14px;
  }

  @include breakpoint(tablet) {
    .home-page-content {
      width: 310px;
      height: 236px;
      margin: -120px 0 0 -155px;
    }

    .home-page-logo {
      width: 300px;
    }

    .home-page-title {
      font-size: 32px;
    }

    .home-page-slogan {
      font-size: 20px;
    }
  }

  @include breakpoint(computer) {
    .home-page-content {
      width: 680px;
      height: 304px;
      margin: -152px 0 0 -340px;
    }

    .home-page-logo {
      width: 400px;
    }

    .home-page-title {
      font-size: 40px;
    }

    .home-page-slogan {
      font-size: 24px;
    }
  }
}