.po {

  &.po-1 {
    background: url("/img/po-1.jpg") center no-repeat;
    background-size: cover;
  }
  &.po-2 {
    background: url("/img/po-1.jpg") center no-repeat;
    background-size: cover;
  }
  &.po-3 {
    background: url("/img/po-1.jpg") center no-repeat;
    background-size: cover;
  }
  &.po-4 {
    background: url("/img/po-1.jpg") center no-repeat;
    background-size: cover;
  }
  &.po-5 {
    background: url("/img/po-1.jpg") center no-repeat;
    background-size: cover;
  }
  &.po-6 {
    background: url("/img/po-1.jpg") center no-repeat;
    background-size: cover;
  }

}