.home-page {
  background-image: url("/img/home-bkg.jpg");
  background-position: center;
  background-size: cover;
}

.home-page-content {

}

.home-page-logo {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -200px;
}