.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.is-hidden {
  display: none !important; }

.is-invisible {
  visibility: hidden !important; }

.block {
  display: block !important; }

.inline {
  display: inline !important; }

.inline-block {
  display: inline-block !important; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.strong {
  font-weight: 700; }

.muted {
  opacity: 0.6; }

.mr-sm {
  margin-right: 5px !important; }

.mr-md {
  margin-right: 10px !important; }

.mr-lg {
  margin-right: 20px !important; }

.ml-sm {
  margin-left: 5px !important; }

.ml-md {
  margin-left: 10px !important; }

.ml-lg {
  margin-left: 20px !important; }

.mt-sm {
  margin-top: 5px !important; }

.mt-md {
  margin-top: 10px !important; }

.mt-lg {
  margin-top: 20px !important; }

.mb-sm {
  margin-bottom: 5px !important; }

.mb-md {
  margin-bottom: 10px !important; }

.mb-lg {
  margin-bottom: 20px !important; }

.pr-sm {
  padding-right: 5px !important; }

.pr-md {
  padding-right: 10px !important; }

.pr-lg {
  padding-right: 20px !important; }

.pl-sm {
  padding-left: 5px !important; }

.pl-md {
  padding-left: 10px !important; }

.pl-lg {
  padding-left: 20px !important; }

.pt-sm {
  padding-top: 5px !important; }

.pt-md {
  padding-top: 10px !important; }

.pt-lg {
  padding-top: 20px !important; }

.pb-sm {
  padding-bottom: 5px !important; }

.pb-md {
  padding-bottom: 10px !important; }

.pb-lg {
  padding-bottom: 20px !important; }

[full-page] {
  position: relative; }

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  margin: 0;
  padding: 0; }

.home-page {
  background-image: url("/img/home-bkg.jpg");
  background-position: center;
  background-size: cover; }
  .home-page .home-page-content {
    height: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -105px 0 0 -124px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); }
  .home-page .home-page-logo {
    width: 200px;
    display: block;
    margin: 0 auto; }
  .home-page .home-page-title {
    font-weight: 700;
    font-family: "Signika Negative" sans-serif;
    font-size: 22px;
    margin: 20px 0 4px 0; }
  .home-page .home-page-slogan {
    font-size: 14px; }
  @media (min-width: 768px) {
    .home-page .home-page-content {
      height: 236px;
      margin: -140px 0 0 -177px; }
    .home-page .home-page-logo {
      width: 300px; }
    .home-page .home-page-title {
      font-size: 32px; }
    .home-page .home-page-slogan {
      font-size: 20px; } }
  @media (min-width: 992px) {
    .home-page .home-page-content {
      height: 304px;
      margin: -182px 0 0 -220px; }
    .home-page .home-page-logo {
      width: 400px; }
    .home-page .home-page-title {
      font-size: 40px; }
    .home-page .home-page-slogan {
      font-size: 24px; } }

nav {
  position: fixed;
  background-color: #ce7400;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  z-index: 20; }
  nav .nav-logo {
    background-image: url("/img/logo-small.svg");
    background-position: center;
    background-size: cover;
    margin: 16px 20px;
    width: 124px;
    height: 18px;
    opacity: .6;
    cursor: pointer;
    transition: opacity 300ms ease;
    display: inline-block; }
    nav .nav-logo:hover {
      opacity: 1; }
  nav .nav-menu {
    list-style: none;
    margin: 0;
    padding: 40px 0 0 0;
    float: right;
    cursor: default;
    font-family: 'Signika Negative';
    font-weight: 600;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: #303030;
    display: none;
    z-index: 40; }
    nav .nav-menu li {
      height: 50px;
      width: 120px;
      margin: 0 auto;
      border: none;
      position: relative;
      display: block;
      line-height: 50px;
      color: #fff;
      padding: 0 30px;
      cursor: pointer;
      transition: opacity 300ms ease;
      opacity: .6; }
      nav .nav-menu li:hover {
        opacity: 1; }
      nav .nav-menu li.isActive {
        opacity: 1; }
        nav .nav-menu li.isActive:after {
          content: '';
          position: absolute;
          top: 8px;
          bottom: 8px;
          left: 0;
          width: 4px;
          background-color: #fff; }
  nav .nav-menu-btn {
    position: absolute;
    right: 20px;
    z-index: 50;
    font-size: 24px;
    padding: 5px;
    border: none;
    line-height: 20px;
    margin-top: 7px;
    color: #fff;
    background: none;
    opacity: .6;
    transition: opacity 300ms ease;
    cursor: pointer; }
    nav .nav-menu-btn:active, nav .nav-menu-btn:focus {
      box-shadow: none;
      outline: none; }
    nav .nav-menu-btn:hover {
      opacity: 1; }
  nav .nav-bkg-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    opacity: 0;
    background-color: rgba(48, 48, 48, 0.7);
    z-index: 30; }
  @media (min-width: 768px) {
    nav {
      height: 70px; }
      nav .nav-logo {
        margin-top: 26px; }
      nav .nav-menu {
        position: relative;
        list-style: none;
        margin: 0 20px 0 0;
        padding: 0;
        float: right;
        cursor: default;
        width: auto;
        font-family: 'Signika Negative';
        font-weight: 600;
        background-color: transparent;
        top: auto;
        right: auto;
        bottom: auto;
        display: block !important;
        transform: translate(0, 0) !important; }
        nav .nav-menu li {
          margin: auto;
          width: auto;
          height: 70px;
          border: none;
          position: relative;
          display: block;
          float: left;
          line-height: 70px;
          color: #fff;
          padding: 0 10px;
          cursor: pointer;
          transition: opacity 300ms ease;
          opacity: .6; }
          nav .nav-menu li:hover {
            opacity: 1; }
          nav .nav-menu li.isActive {
            opacity: 1; }
            nav .nav-menu li.isActive:after {
              content: '';
              position: absolute;
              bottom: auto;
              width: auto;
              top: 0;
              right: 10px;
              left: 10px;
              height: 4px;
              background-color: #fff; }
      nav .nav-bkg-wrapper {
        display: none !important; }
      nav .nav-menu-btn {
        display: none; } }

/*# sourceMappingURL=main.css.map */
